.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

.or-register {
  color: var(--prompt);
  text-decoration: underline;
  line-height: 1.5;
}