.card {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: var(--aux-color);

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    position: relative;
}

  .card a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  .card  a:hover {
    color: #535bf2;
  }
  
  .card h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  
