.board {
    width: calc(42px * 23);
    height: calc(57px * 8 + 25px);
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

.upper-cell,
.cell {
    width: 40px;
    border: 1px solid var(--aux-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-cell {
    color: var(--aux-color);
    background-color: #2a67c2;
    height: 25px;
    font-weight: 700;
}

.cell {
    height: 55px;
    transition: all .2s ease;
}

.cell:hover {
    background-color: var(--cell-hover);
}

.cell-divider {
    width: 42px;
    /* height: 57px; */
}

.selected{
    background-color: var(--aux-color);
}