.conditions-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--aux-color);
    border-radius: var(--border-radius);
    padding: 0 15px;
    color: var(--white);
    font-size: 14px;
}