.hand {
    background-color: var(--black);
    min-height: 40px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    gap: 3px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}