header {
  position: absolute;
  top: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--aux-color);
    color: var(--white);
    font-size: 20px;
  }
  
  .header-wrapper {
    width: 1200px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
  }