.inputWrapper{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    margin-bottom: 20px;
}

.bigP{
    color: var(--white);
    font-size: 30px;
    margin: 0;
}

.lilP{
    color: var(--prompt);
    font-size: 15px;
    margin: 5px 0;
}

.input{
    width: 300px;
    height: 28px;
    border-radius: 20px;
    font-size: 25px;
    padding: 5px 15px;

    border: 2px solid var(--aux-color);
}

.input:focus {
    outline: none;
}

