.logger1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    background-color: var(--aux-color);
    border-radius: var(--border-radius);
    padding: 0 15px;
    color: var(--white);
    font-size: 14px;
}

.logger2 {
    position: absolute;
    top: 10%;
    left: 0;
    transform: translate(0, -50%);

    background-color: var(--aux-color);
    border-radius: var(--border-radius);
    padding: 0 15px;
    color: var(--white);
    font-size: 14px;
}