.timer  {
    border-radius: var(--border-radius);
    background-color: var(--aux-color);
    color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    width: 150px;
    height: 120px;
    text-align: center;
    line-height: 120px;
}